darkcolor = #252525
disabledcolor = #CECECE

//
// Buttons:
// 'button, .button' - Daisho's Default Material-esque Button
//
//  @example
//  button
//      Button Tag
//
//  .button
//      Button Div
//
//  button(disabled="disabled")
//      Disabled Button Tag
//
//  .button(class="disabled)
//      Disabled Button Div
//

buttonBoxShadow = rgba(0,0,0,0.5)

button
.button
  background-color: darkcolor
  border: 0
  color: white
  padding: .5em 1em
  box-shadow: .1em .1em 1em buttonBoxShadow
  outline: none
  transition: all .5s ease;

  &.disabled
  &:disabled
    background-color: white
    border: 1px solid disabledcolor
    color: disabledcolor
    box-shadow: none

  &:hover
    box-shadow: .1em .3em 1em buttonBoxShadow

