table-widget
  display: table
  width: 100%

  .table-head
    display: table-header-group
    width: 100%

  .table-body
    display: table-row-group
    width: 100%

  .table-row
    display: table-row
    width: 100%

  .table-row > *
  .table-cell

    display: table-cell
